root = true

[*]
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.lua]
indent_style = tab

[units/*.lua]
indent_style = space
indent_size = 2

[weapons/*.tdf]
indent_style = space
indent_size = 2
